/**
 *
 * Features.
 *
 */

.b-features {
  padding: 3.5rem 0 3.7rem;

  &__items {
    @include list-unstyled;

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
      display: flex;
    }
  }

  &__item:not(:first-child) {
    margin-top: 5rem;

    @include media-breakpoint-up(lg) {
      margin-left: 8.8rem;
      margin-top: 0;
    }
  }
}
