{
  "bundles": [
    "frontend",
    "admin",
    "login",
    "editor"
  ],
  "variables": {
    "color": {
      "white": "#fff",
      "ghost-white": "#f9f9f9",
      "black": "#272727",
      "philippine-silver": "#b1b1b1",
      "davys-grey": "#555555",
      "robin-egg-blue": "#00E2bf",
      "brandeis-blue": "#0062ff"
    },
    "font-size": {
      "xs": "12px",
      "s": "16px",
      "m": "20px",
      "l": "28px",
      "xl": "36px"
    },
    "breakpoints": {
      "xs": "0",
      "sm": "576px",
      "md": "768px",
      "lg": "992px",
      "xl": "1200px",
      "xxl": "1400px"
    }
  },
  "development": {
    "url": "https://workshop-wp.local/",
    "port": 3000
  },
  "release": {
    "configWhitelist": [
      "variables"
    ],
    "include": [
      "app/",
      "dist/",
      "templates/",
      "languages/",
      "vendor/",
      "views/",
      "config.json",
      "LICENSE",
      "README.md",
      "readme.txt",
      "screenshot.png",
      "style.css",
      "*.php"
    ]
  }
}
