@use 'sass:math';

/**
 *
 * Button.
 *
 */
.c-btn {
  @include remove-button-appearance;
  @include btn;
  border-radius: 10rem;
  color: #fff;
  font-size: px-to-rem(font-size('m'));
  letter-spacing: 0.2rem;
  line-height: line-height(60, font-size('m'));
  padding: 0 2.64rem;
  text-align: center;
  text-transform: uppercase;

  /**
   *
   * Has Icon.
   *
   */
  &--has-icon {
    align-items: center;
    display: inline-flex;
    text-align: left;

    .c-icon {
      margin-left: 1.8rem;
    }
  }

  /**
   *
   * Gradient.
   *
   */
  &--gradient {
    background: linear-gradient(90deg, #00ffb1, #0062ff);
  }

  /**
   *
   * Outline.
   *
   */
  &--outline {
    border: 2px solid #fff;
    line-height: line-height(56, font-size('m'));
  }
}
